[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = master
[user]
	name = Jason Chambers
	email = jason.d.chambers@gmail.com
[core]
	editor = nvim
